.kenzap .kenzap-blog-4 img,
.kenzap .kenzap-blog-4 h3,
.kenzap .kenzap-blog-4 ul,
.kenzap .kenzap-blog-4 li,
.kenzap .kenzap-blog-4 p,
.kenzap .kenzap-blog-4 a{
	padding: 0;
	margin: 0;
	box-shadow: none;
	border: none;
	text-decoration: none;
	list-style:none
}

.kenzap .kenzap-blog-4 div{
	box-sizing: border-box;
}

.kenzap .kenzap-blog-4 .clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.kenzap .kenzap-blog-4 img{
	display:block;
	max-width:100%;
}

.kenzap .kenzap-blog-4 .kenzap-container{
	max-width:1170px;
	padding:0px var(--paddings2, 0);
	margin:0 auto;
	display:block;
	box-sizing: border-box;
	overflow: hidden;
}

// .kenzap .kenzap-blog-4{
// 	padding: var(--paddingspx, 0px) 0;
// }

.kenzap .kenzap-blog-4.autoPadding {
	padding: calc(30px + (var(--paddings) - 30) * ((100vw - 300px) / (1600 - 300))) 0!important;
}

.kenzap .kenzap-blog-4 .grid{
	opacity: 0.1;
}

.kenzap .kenzap-blog-4 .grid-sizer,
.kenzap .kenzap-blog-4 .blog-item{
	width:33.33333%;
	padding:0 15px;
}

.kenzap .kenzap-blog-4 .kenzap-sm .grid-sizer,
.kenzap .kenzap-blog-4 .kenzap-sm .blog-item{
	width:50%;
	padding:0 15px;
}

.kenzap .kenzap-blog-4 .kenzap-xs .grid-sizer,
.kenzap .kenzap-blog-4 .kenzap-xs .blog-item{
	width:100%;
	padding:0 15px;
}

.kenzap .kenzap-blog-4 .blog-item .blog-img{
	overflow:hidden;
}

.kenzap .kenzap-blog-4 .blog-item .blog-img img{
	transition:all .5s
}

.kenzap .kenzap-blog-4 .blog-item:hover .blog-img img{
	 transform: scale(1.1);
}

.kenzap .kenzap-blog-4 .blog-item .blog-info{
	padding:25px 20px;
	margin:-80px auto 30px;
	width:85%;
	background:#fff;
	position:relative
}

.kenzap .kenzap-blog-4 .blog-item .blog-meta{
	padding:0;
	margin:0 0 10px;
	list-style:none;
	line-height: 1; 
}

.kenzap .kenzap-blog-4 .blog-item .blog-meta li{
	display:inline-block;
	position:relative;
	padding:0 10px 0 0;
	margin:0 10px 0 0;
	line-height: 1;
}

.kenzap .kenzap-blog-4 .blog-item .blog-meta li:after{
	content: "";
	width:5px;
	height:5px;
	border-radius:50%;
	background:var(--mc, #333);
	display:block;
	position:absolute;
	right:-5px;
	top:1px;
	bottom:0;
	margin:auto;
}

.kenzap .kenzap-blog-4 .blog-item .blog-meta li:last-child{
	margin:0;
	padding:0;
}

.kenzap .kenzap-blog-4 .blog-item .blog-meta li:last-child:after{
	display:none
}

.kenzap .kenzap-blog-4 .blog-item .blog-meta li a{
	//text-transform:uppercase;
	text-decoration:none;
	// font-size: 10px;
	// letter-spacing: .12em;
	// line-height: 20px;
	// font-weight:500;
	color:var(--cl, #333);
}

.kenzap .kenzap-blog-4 .blog-item .blog-title{
	margin: 0 0 12px;
	line-height: 1.32;
}

.kenzap .kenzap-blog-4 .blog-item h3{
	font-size:26px;
}

.kenzap .kenzap-blog-4 .blog-item .blog-title a{
	color:var(--tc, #333);
	line-height: 1.32;
	font-weight:400;
	text-decoration:none;
}

.kenzap .kenzap-blog-4 .blog-item:hover .blog-title a{
	text-decoration:underline
}

.kenzap .kenzap-blog-4 .blog-item .blog-author{
	//color:var(--tc, #333);
	// font-size:10px;
	// line-height:2.4;
	// font-weight:500;
	// text-transform:uppercase;
	// letter-spacing: .12em;
}

.kenzap .kenzap-blog-4 .blog-item .blog-author a{
	color:var(--cl, #333);
	// font-size:10px;
	// line-height:1.4;
	// font-weight:500;
	text-decoration:none;
	//text-transform:uppercase;
	//letter-spacing: .12em;
}

@media screen and (max-width: 61.938em) {
	/* width: 991px; */
		
	.kenzap .kenzap-blog-4 .grid-sizer,
	.kenzap .kenzap-blog-4 .blog-item{
		width:50%;
	}
}

@media screen and (max-width: 48em) {
	/* width 768px */
	
	.kenzap .kenzap-blog-4 .blog-item .blog-info{
		width:100%;
		margin:0 0 30px;
		padding:25px 20px;
	}
}

@media screen and (max-width: 30em) {
	/* width 768px */
	
	.kenzap .kenzap-blog-4 .grid-sizer,
	.kenzap .kenzap-blog-4 .blog-item{
		width:100%;
	}
	
	.kenzap .kenzap-blog-4 img{
		width:100%;
	}
	
	.kenzap .kenzap-blog-4 .kenzap-xs .grid-sizer,
	.kenzap .kenzap-blog-4 .kenzap-xs .blog-item{
		width:100%;
		padding:0 15px;
	}	
}