.kenzap .kenzap-testimonials-2 .owl-carousel {
  display: flex;
  overflow-x: scroll;
}

.kenzap .kenzap-testimonials-2:before{
  content: "";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.kenzap .kenzap-testimonials-2 .kenzap-container{
  display: inline-grid;
}

.kenzap .kenzap-testimonials-2 .testimonial-box{
  text-align:center;
  margin:0 0 30px;
  min-width: 550px;
  position: relative;
}

.kenzap .kenzap-testimonials-2 .owl-dots{
  margin:0;
  display:block;
  text-align:center
}

.kenzap .kenzap-testimonials-2 .owl-dot{
  margin:0 4px;
  height:20px;
  width:12px;
}

.kenzap .kenzap-testimonials-2 .owl-dot span{
  display: block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .5);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: opacity .4s ease-out;
}

.kenzap .kenzap-testimonials-2 .owl-dot.active span{
  background: rgba(255, 255, 255, 1);
}

.kenzap .kenzap-testimonials-2 .remove {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: 0;
  background: white;
  border-radius: 50%;
  color: rgba(10,24,41,0.7);
  z-index: 99;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;

  &:hover {
    color: #191e23;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kenzap-testimonials-2 .testimonial-box:hover .remove{
  opacity: 1;
}

.kenzap .kenzap-testimonials-2 .addWhite {
  position: absolute;
  display: none;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 5px;
  border: 0;
  background: white;
  box-shadow: inset 0 0 50px white;
  color: rgba(10,24,41,0.7);
  cursor: pointer;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    margin-bottom: 5px;
  }

  &:hover {
    color: #191e23;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kenzap-testimonials-2 {
  position: relative;
  transition: all .2s;
}

.kenzap .kenzap-testimonials-2 .editPadding {
  transition: all .2s;
}

.kenzap .kenzap-testimonials-2.selected {

  & .addWhite {
    display: flex;
  }

   .editPadding {
     padding: 0 0 100px;
   }
}

