.kenzap .kp-menu-4 :before,
.kenzap .kp-menu-4 :after,
.kenzap .kp-menu-4 *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kenzap .kp-menu-4 img,
.kenzap .kp-menu-4 ul,
.kenzap .kp-menu-4 li,
.kenzap .kp-menu-4 p,
.kenzap .kp-menu-4 a{
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  text-decoration: none;
  list-style:none
}

.kenzap .kp-menu-4 .kenzap-container{
  max-width:1270px;
  width:100%;
  padding:0 0px;
  margin:0 auto;
}

.kenzap .kp-menu-4{
  background:var(--t0backgroundcolor,#23282d)!important;
  position:relative;
  transition: background .2s ease-in-out;
}

.kenzap.transparent:not(.admin-bar) .kp-menu-4,
.kenzap:not(.admin-bar) .kp-menu-4.kp-trans{
  background:none!important;
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index: 100;
}

.kenzap.sticky:not(.admin-bar) .kp-menu-4,
.kenzap:not(.admin-bar) .kp-menu-4.kp-sticky{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 100;
}

// .kenzap.transparent.topbar .kp-menu-4,
// .kenzap.transparent.admin-bar .kp-menu-4{
//   top:32px;
// }

// .kenzap.transparent.admin-bar .wp-block-kenzap-topbar-1{
//   display: none;
// }

.kenzap .kp-menu-4 .kp-content .main-nav{	
  display:flex;
  display:-webkit-flex;
  align-items:center;
  -webkit-align-items:center;
  justify-content:space-between;
  -webkit-justify-content:space-between;
}

.kenzap .kp-menu-4 .kp-content .logo{
  max-width:240px;
  margin:0 30px 0 0;
}

.kenzap .kp-menu-4 .kp-content .logo img{
  display:block;
  max-width:100%;
}

.kenzap .kp-menu-4 .kp-content .kp-nav{
  display:flex;
  display:-webkit-flex;
  align-items:center;
  -webkit-align-items:center;
  justify-content:space-between;
  -webkit-justify-content:space-between;
  width:100%;
  padding:0 var(--paddings2,0px);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul{
  display:flex;
  display:-webkit-flex;
  align-items:center;
  -webkit-align-items:center;
  flex-wrap:wrap;
  -webkit-flex-wrap:wrap;
  background:none;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.menu-item-has-children,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.menu-item-has-children > ul > li{
  position:relative;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li:nth-last-child(2) > ul,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li:last-child > ul{right:0;left:auto;}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > a{
  font-weight:var(--t0fontweight,500);
  font-size:var(--t0fontsize,13px);
  text-transform:var(--t0texttransform, uppercase);
  line-height:var(--t0lineheight,1.8);
  color:var(--t0color,#ffffff);
  padding-top:var(--t0paddingtop, 25px);
  padding-right:var(--t0paddingright, 10px);
  padding-bottom:var(--t0paddingbottom, 25px);
  padding-left:var(--t0paddingleft, 10px);
  display:block;
  position:relative;
  letter-spacing:var(--t0letterspacing,0.12em);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > a:after{
  content:"";
  height:0;
  background:var(--t0color,#ffffff);
  display:block;
  transition:all .3s;
  position:absolute;
  left:10px;
  right:10px;
  margin:auto;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.menu-item{
  margin-top:var(--t0margintop, 25px);
  margin-right:var(--t0marginright, 10px);
  margin-bottom:var(--t0marginbottom, 25px);
  margin-left:var(--t0marginleft, 10px);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.menu-item:hover > a:after{
  height:3px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul{
  position:absolute;
  top:100%;
  left:0;
  background:var(--t1backgroundcolor,#23282d);
  padding:20px 0;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.03);
  width:230px;
  max-height:0;
  visibility:hidden;
  overflow:hidden;
  transition: all 0.1s ease .0s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li:hover > ul{
  max-height:999px;
  visibility:visible;
  overflow:visible;
  z-index:999;
  transition: all 0.2s ease .3s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li{
  padding:0 30px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > a,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > ul > li > a{
  display:block;
  font-size: var(--t1fontsize, 10px);
  letter-spacing: var(--t1letterspacing, .15em);
  color: var(--t1color,#fff);
  font-weight: var(--t1fontweight,500);
  line-height: var(--t1lineheight, 1);
  padding-top: var(--t1paddingtop, 6px);
  padding-right: var(--t1paddingright, 0px);
  padding-bottom: var(--t1paddingbottom, 6px);
  padding-left: var(--t1paddingleft, 0px);
  text-transform: var(--t1texttransform, uppercase);
  position:relative;
  overflow:hidden;
  -webkit-transition: padding .2s ease-in-out;
  -moz-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out;
  
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > a:before,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > ul > li > a:before{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -20px;
  color: inherit;
  font-size: 18px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--t1color,#ffffff);
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: left .2s ease-in-out;
  -moz-transition: left .2s ease-in-out;
  transition: left .2s ease-in-out;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > ul > li.current > a,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > ul > li:hover > a,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li.current > a,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li:hover > a{
  padding-top: var(--t1paddingtop, 6px);
  padding-right: 10px;
  padding-bottom: var(--t1paddingbottom, 6px);
  padding-left: 15px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > ul > li.current > a:before,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > ul > li:hover > a:before,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li.current > a:before,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li:hover > a:before{
  left:0;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > a.kp-arrow:after{
  content:"";
  display:block;
  width:5px;
  height:9px;
  mask-size: cover;
  mask-image: var(--menuArrow, url('images/arrow-icon.svg'));
  mask-position: center center;
  mask-repeat: no-repeat;
  background-color: var(--t1color, #fff);
  position:absolute;
  top: 0;
  bottom:0;
  right: 0;
  margin:auto;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li > ul{
  position:absolute;
  right:100%;
  top:0;
  background:var(--t1backgroundcolor,#23282d);
  padding:20px 30px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.03);
  width:230px;
  max-height:0;
  visibility:hidden;
  overflow:hidden;
  transition: all 0.1s ease .0s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > ul > li:hover > ul{
  max-height:999px;
  visibility:visible;
  overflow:visible;
  transition: all 0.2s ease .3s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-mega-menu{
  position:absolute;
  top:100%;
  left:0;
  right:0;
  background:var(--t1backgroundcolor,#23282d);
  padding:20px 0;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.03);
  max-height:0;
  visibility:hidden;
  overflow:hidden;
  transition: all 0.1s ease .0s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-mega-menu > ul,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-mega-menu > div{
  opacity:0;
  transition: all 0.1s ease .0s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li:hover > .kp-mega-menu{
  max-height:999px;
  visibility:visible;
  overflow:visible;
  z-index:999;
  transition: all 0.2s ease .3s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li:hover > .kp-mega-menu > ul,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li:hover > .kp-mega-menu > div{
  opacity:1;
  transition: all 0.2s ease .3s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-nav > div > ul{
  display:flex;
  display:-webkit-flex;
  margin:0 -15px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-nav > div > ul > li{
  width:33.33333%;
  padding:0 15px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-nav > div > ul > li > a{
  font-size: 19px;
  color:var(--t1color,#fff);
  font-weight: 400;
  display:block;
  padding: 6px 0;
  text-transform:capitalize;
  position:relative;
  overflow:hidden;
  -webkit-transition: padding .2s ease-in-out;
  -moz-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out;
  line-height:2;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-nav > div > ul > li > ul > li > a{
  font-size: 10px;
  letter-spacing: .15em;
  color: var(--t1color,#fff);
  font-weight: 500;
  display:block;
  padding: 6px 0;
  text-transform:uppercase;
  position:relative;
  overflow:hidden;
  -webkit-transition: padding .2s ease-in-out;
  -moz-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out;
  line-height:2;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-nav > div > ul > li > ul > li > a:before{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -20px;
  color: inherit;
  font-size: 18px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--t1color,#fff);
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: left .2s ease-in-out;
  -moz-transition: left .2s ease-in-out;
  transition: left .2s ease-in-out;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-nav > div > ul > li > ul > li.active > a,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-nav > div > ul > li > ul > li:hover > a{
  padding: 6px 10px 6px 15px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-nav > div > ul > li > ul > li.active > a:before,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-nav > div > ul > li > ul > li:hover > a:before{
  left:0;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > ul > li > a{
  font-size: 10px;
  letter-spacing: .15em;
  color: var(--t1color,#fff);
  font-weight: 500;
  display:block;
  padding: 6px 0;
  text-transform:uppercase;
  position:relative;
  overflow:hidden;
  -webkit-transition: padding .2s ease-in-out;
  -moz-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out;
  line-height:2;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > ul > li > a:before{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -20px;
  color: inherit;
  font-size: 18px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--t1color,#fff);
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: left .2s ease-in-out;
  -moz-transition: left .2s ease-in-out;
  transition: left .2s ease-in-out;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > ul > li.active > a,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > ul > li:hover > a{
  padding: 6px 10px 6px 15px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > ul > li.active > a:before,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > ul > li:hover > a:before{
  left:0;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div{
  display:flex;
  display:-webkit-flex;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tab-menu{
  width:20%;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs{
  width:80%;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab{
  display:none;
  opacity:0;
  transition:all .3s
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab.tab-show{
  display:-webkit-flex;
  display:flex;
  opacity:1;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab{
  margin:0 -15px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab .post-box{
  width:33.333333%;
  padding:0 15px;
  margin:0 0 30px;
  counter-increment: pagination;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab .post-box .tab-img{
  margin: 0 0 20px;
  overflow:hidden;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab .post-box .tab-img a{
  display:block;
  max-width:100%;
  height:180px;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  transform:scale(1);
  transition:all .3s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab .post-box:hover .tab-img a{
  transform:scale(1.1);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab .post-box .tab-info{
  position:relative;
  padding:0 0 0 50px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab .post-box .tab-info:before{
  content: counter(pagination) "/";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 44px;
  line-height: 38px;
  text-align: center;
  color: var(--t1color,#fff);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab .post-box .tab-info span a{
  font-size:10px;
  line-height:2;
  text-transform:uppercase;
  color:var(--t1color,#fff);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab .post-box .tab-info h3{
  margin:20px 0 0;
  min-height:70px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-tab-nav > div > .kp-tabs .kp-tab .post-box .tab-info h3 a{
  font-size:18px;
  line-height:1;
  font-weight:400;
  text-transform:capitalize;
  color:var(--t1color,#fff);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul{
  display:flex;
  display:-webkit-flex;
  margin:0 -15px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul > li{
  width:33.33333%;
  padding:0 15px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul > li .kp-box{
  display:flex;
  display:-webkit-flex;
  margin:0 0 10px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul > li .kp-box .kp-img{
  width:90px;
  margin:0 20px 0 0;
  overflow:hidden;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul > li .kp-box .kp-img a{
  display:block;
  width:90px;
  height:90px;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  transform:scale(1);
  transition:all .3s;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul > li .kp-box:hover .kp-img a{
  transform:scale(1.1);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul > li .kp-box .kp-info{
  width:70%;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul > li .kp-box .kp-info span a{
  font-size:10px;
  line-height:2;
  text-transform:uppercase;
  color:var(--t1color,#fff);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul > li .kp-box .kp-info h3{
  margin:10px 0 0;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li > .kp-col-post > div > ul > li .kp-box .kp-info h3 a{
  font-size:18px;
  line-height:1;
  font-weight:400;
  text-transform:capitalize;
  color:var(--t1color,#fff);
}

.kenzap .kp-menu-4.center .kp-content .kp-nav > ul > li.menu-item{
  display: none;
}

.kenzap .kp-menu-4.center .kp-content .kp-nav > ul.mm-right > li.menu-item:nth-child(n+4),
.kenzap .kp-menu-4.center .kp-content .kp-nav > ul.mm-left > li.menu-item:nth-child(-n+3){
  display: inline-block;
}

.kenzap .kp-menu-4.center .kp-content .kp-nav > ul.mm-right > li.menu-item:nth-child(n+7){
  display: none;
}

// .kenzap .kp-menu-4.center .kp-content .kp-nav > ul.mm-right > li.menu-item:nth-child(-n+4){
//   display: none;
// }

.kenzap .kp-menu-4 .kp-content ul.mobile-menu{
  display:none;
  padding:20px 0;
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn {
  // margin: auto;
  // display: inline-flex;
  //display: inline-block;
  width: 24px;
  height: 24px;
  padding:4px 0;
  outline:none;
  cursor: pointer;
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn span:after, 
.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn span:after {
  top: 14px;
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn span {
  position: relative;
  display: block;
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn span, 
.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn span:after, 
.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn span:before {
  width: 100%;
  height: 2px;
  background-color: var(--t0color,#fff);
  transition: all 0.3s;
  backface-visibility: hidden;
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn.on span {
  background-color: transparent;
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn.on span:before {
  transform: rotate(40deg) translate(0px, 1px);
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.mobile-btn.on span:after {
  transform: rotate(-40deg) translate(4px, -5px);
}

.kenzap .kp-menu-4 .fullscreen-search{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:var(--t0backgroundcolor,#fff);
  display:flex;
  display:-webkit-flex;
  align-items:center;
  -webkit-align-items:center;
  height:100vh;
  overflow-y:auto;
  height:0;
  justify-content:center;
  -webkit-justify-content:center;
}

.kenzap .kp-menu-4 .fullscreen-search form{
  padding:0 30px;
  max-width: 640px;
  margin: auto;
}

.kenzap .kp-menu-4 .fullscreen-search.loaded{
  height:auto;
  padding:0;
  z-index:1000;
}

.kenzap .kp-menu-4 .fullscreen-search input[type="text"]{
  font-weight:300;
  position: relative;
  height: 100%;
  width: 200px;
  margin: 0;
  padding: 0 0 23px 30px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: .15em;
  color: var(--t0color,#fff);
  line-height: 3em;
  background: 0 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  text-transform: uppercase;
  border-bottom:1px solid var(--t0color,#fff);;
  transition:all .3s;
  background:var(--searchIcon,url("images/search-icon.svg")) no-repeat left 12px;
}

.kenzap .kp-menu-4 .fullscreen-search.loaded input[type="text"]{
  width:100%;
}

.kenzap .kp-menu-4 .fullscreen-search.loaded input[type="text"]:-moz-placeholder{
  color: var(--t0color,#fff);
}

.kenzap .kp-menu-4 .fullscreen-search.loaded input[type="text"]:-ms-input-placeholder{
  color: var(--t0color,#fff);
}

.kenzap .kp-menu-4 .fullscreen-search.loaded input[type="text"]::-moz-placeholder{
  color: var(--t0color,#fff);
}

.kenzap .kp-menu-4 .fullscreen-search.loaded input[type="text"]::-webkit-input-placeholder{
  color: var(--t0color,#fff);
}

.kenzap .kp-menu-4 .fullscreen-search .search-close{
  display: block;
  width: 24px;
  height: 24px;
  padding:4px 0;
  position:absolute;
  top:20px;
  right:20px;
  outline:none;
}

.kenzap .kp-menu-4 .fullscreen-search .search-close span:after, 
.kenzap .kp-menu-4 .fullscreen-search .search-close span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
}

.kenzap .kp-menu-4 .fullscreen-search .search-close span:after {
  top: 14px;
}

.kenzap .kp-menu-4 .fullscreen-search .search-close span {
  position: relative;
  display: block;
}

.kenzap .kp-menu-4 .fullscreen-search .search-close span, 
.kenzap .kp-menu-4 .fullscreen-search .search-close span:after, 
.kenzap .kp-menu-4 .fullscreen-search .search-close span:before {
  width: 100%;
  height: 2px;
  background-color: var(--t0color, #fff);
  transition: all 0.3s;
  backface-visibility: hidden;
}

.kenzap .kp-menu-4 .fullscreen-search .search-close span {
  background-color: transparent;
}

.kenzap .kp-menu-4 .fullscreen-search .search-close span:before {
  transform: rotate(40deg) translate(0px, 1px);
}

.kenzap .kp-menu-4 .fullscreen-search .search-close span:after {
  transform: rotate(-40deg) translate(4px, -5px);
}

.kenzap .kp-menu-4 .mobile-nav{
  display:none;
}

.kenzap.transparent .kp-menu-4.dropped{
  background-color:var(--t2backgroundcolor, #23282d)!important;
}

.kenzap .kp-menu-4 .mobile-nav > ul{
  background-color:var(--t2backgroundcolor, #23282d);
  display:none;
  padding: var(--paddings2,0px) var(--paddings2,0px);
}

.kenzap .kp-menu-4 .mobile-nav ul li ul{
  display:none
}

.kenzap .kp-menu-4 .mobile-nav ul li a{
  display:block;
  padding: 6px 0;
  text-transform:uppercase;
  position:relative;
  overflow:hidden;
  -webkit-transition: padding .2s ease-in-out;
  -moz-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out;
  border-bottom:1px solid rgba(255,255,255,0.2);
  outline:none;
  font-size: var(--t2fontsize, 10px);
  letter-spacing: var(--t2letterspacing, .15em);
  color: var(--t2color,#fff);
  font-weight: var(--t2fontweight,500);
  padding-top: var(--t2paddingtop, 6px);
  padding-bottom: var(--t2paddingbottom, 6px);
  text-transform: var(--t2texttransform, uppercase);
  line-height: var(--t2lineheight, 1);
}

.kenzap .kp-menu-4 .mobile-nav > ul > li:last-child > a{
  border:none;
}

.kenzap .kp-menu-4 .mobile-nav ul li a.child-link:after{
  content:"";
  display:block;
  width:5px;
  height:9px;
  mask-size: cover;
  mask-image: var(--menuArrow, url('images/arrow-icon.svg'));
  mask-position: center center;
  mask-repeat: no-repeat;
  background-color: var(--t1color, #fff);
  position:absolute;
  top: 0;
  bottom:0;
  right: 10px;
  margin:auto;
  transition:all .3s
}

.kenzap .kp-menu-4 .mobile-nav ul li a.child-link.current:after{
  transform:rotate(90deg);
}

.kenzap .kp-menu-4 .mobile-nav ul li ul,
.kenzap .kp-menu-4 .mobile-nav ul li ul li ul{
  padding:0 0 0 20px;
}

.kenzap .kp-menu-4 .fullscreen-nav .nav-wrapper{
  padding:70px 0;
  max-width:570px;
  width:100%;
}

.kenzap .kp-menu-4 .fullscreen-nav .nav-wrapper > ul > li{
  text-align:center;
  border-bottom:1px solid #424242;
  opacity:0;
  transition: opacity 300ms, transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  -o-transition: opacity 300ms, -o-transform 300ms;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
}

.kenzap .kp-menu-4 .fullscreen-nav.loaded .nav-wrapper > ul > li{
  opacity:1;
}

.kenzap .kp-menu-4 .fullscreen-nav .nav-wrapper > ul > li > a{
  font-weight:600;
  text-align:center;
  font-size:22px;
  line-height:1.8;
  color:#fff;
  padding:17px 0;
  display:inline-block;
  outline:none;
  transition:all .3s;
  opacity:1;
}

.kenzap .kp-menu-4 .fullscreen-nav .nav-wrapper > ul > li > a.child-link{
  background:url(images/menu-icon.svg) no-repeat right center;
  padding:17px 30px 17px 0;
}

.kenzap .kp-menu-4 .fullscreen-nav .nav-wrapper > ul > li:hover > a{
  opacity:.8
}

.kenzap .kp-menu-4 .fullscreen-nav .nav-wrapper > ul > li > ul{
  display:none;
  padding:0 0 22px;
}

.kenzap .kp-menu-4 .fullscreen-nav .nav-wrapper > ul > li > ul > li > a{
  font-weight:400;
  text-align:center;
  font-size:16px;
  line-height:1.8;
  color:#fff;
  padding:5px 0;
  display:inline-block;
  outline:none;
  transition:all .3s;
  opacity:1;
}

.kenzap .kp-menu-4 .fullscreen-nav .nav-wrapper > ul > li > ul > li:hover > a{
  opacity:.8
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.kp-cta,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.kp-cart{
	margin:0 0 0 15px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li .cta-btn{
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  padding: 15px 30px;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li .cta-btn.inv:hover,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li .cta-btn.ninv{
  color: var(--t0color,#fff);
  background-color: var(--t0backgroundcolor,#23282d);
  border-color: var(--t0color,#fff);
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li .cta-btn.inv,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li .cta-btn.ninv:hover{
  color: var(--t0backgroundcolor,#23282d);
  background-color: var(--t0color,#fff);
  border-color: var(--t0backgroundcolor,#23282d);
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.kp-mobile-cart,
.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.kp-cart a{
  color:var(--t0color,#fff);;
	background-size: 20px 17px;
	padding:8px 50px 8px 20px;
	border:1px solid var(--t0color,#fff);;
	border-radius:50px;
	font-weight:500;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.kp-cart a,
.kenzap .kp-menu-4 .kp-content .mobile-menu a.kp-mobile-cart {
  font-weight:var(--t0fontweight,500);
  font-size:var(--t0fontsize,13px);
  text-transform:var(--t0texttransform, uppercase);
  line-height:var(--t0lineheight,1.8);
  color:var(--t0color,#ffffff);
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a.kp-mobile-cart{
  margin-right: 20px 
}

.kenzap .kp-menu-4 .kp-content .mobile-menu a{
  display:inline-block;
}

.kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.kp-cart a:after,
.kenzap .kp-menu-4 .kp-content .mobile-menu a.kp-mobile-cart:after{
  content:"";
  right: var(--cartIconRight,20px);
  top: var(--cartIconTop,4px);
  left: unset;
  bottom: unset;
  display:block;
  width:var(--cartIconSize,20px);
  height:var(--cartIconSize2,22px);
  mask-size: cover;
  mask-image: var(--cartIcon, url('images/cart.svg'));
  mask-position: 70% center;
  mask-repeat: no-repeat;
  background-color: var(--t0color, #fff);
}


.kenzap .kp-menu-4.kenzap-sm .kp-content .kp-nav > ul,
.kenzap .kp-menu-4.kenzap-xs .kp-content .kp-nav > ul{
  display:none
}

.kenzap .kp-menu-4.kenzap-xs{
  padding:60px 20px;
}

.kenzap .kp-menu-4.kenzap-sm .kp-content .mobile-nav,
.kenzap .kp-menu-4.kenzap-xs .kp-content .mobile-nav{
  display:block;
}

.kenzap .kp-menu-4.kenzap-sm .kp-content .kp-nav > ul,
.kenzap .kp-menu-4.kenzap-xs .kp-content .kp-nav > ul{
  display:none
}

.kenzap .kp-menu-4.kenzap-sm .kp-content .mobile-menu,
.kenzap .kp-menu-4.kenzap-xs .kp-content .mobile-menu{
  display:block
}

@media screen and (max-width: 1000px) {
  /* width 768px */

  .kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.kp-cta{
    margin-left: 0;
    margin-right: 20px;
  }

  .kenzap .kp-menu-4 .kp-content .logo img{
    height:var(--lgsm)!important;
  }

  .kenzap .kp-menu-4 .kp-content .mobile-nav{
    display:block;
  }

  .kenzap .kp-menu-4 .kp-content .kp-nav > ul{
    display:none
  }

  .kenzap .kp-menu-4 .kp-content ul.mobile-menu{
    display:inline-flex;
  }

  .kenzap .kp-menu-4 .kp-content ul.mobile-menu li.kp-cart{
    margin-left: 10px;
  }

  .kenzap .kp-menu-4 .kp-content .logo{
    margin-right: 10px;
  }
}

@media screen and (max-width: 30em) {
  .kenzap .kp-menu-4 .kp-content .kp-nav > ul > li.kp-cta{
    display: none;;
  }
}
