.kenzap .kpcta2:before,
.kenzap .kpcta2:after,
.kenzap .kpcta2 *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kenzap .kpcta2 h2,
.kenzap .kpcta2 img,
.kenzap .kpcta2 ul,
.kenzap .kpcta2 li,
.kenzap .kpcta2 p,
.kenzap .kpcta2 a{
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  text-decoration: none;
  list-style:none
}

.kenzap .kpcta2 .clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.kenzap .kpcta2.autoPadding {
  padding: calc(30px + (var(--paddings) - 30) * ((100vw - 300px) / (1600 - 300))) 0;
}

.kenzap .kpcta2 .kenzap-container {
  max-width: 1170px;
  margin:0 auto;
  padding:0 var(--paddings2,0);
}

.kenzap .kpcta2 .kenzap-container:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.kenzap .kpcta2 .kenzap-row{
  display:flex;
  display:-webkit-flex;
  align-items:center;
  -webkit-alig-items:center;
}

.kenzap .kpcta2 .kenzap-col-6{
  width:50%;
  padding:0;
  position:relative;
}

.kenzap .kpcta2 .kp-content{
  padding:80px 100px;
  position:relative;
  overflow:hidden
}

.kenzap .kpcta2 .kp-content:before{
  display:block;
  content: "";
  width:220px;
  height:220px;
  mask-size: cover;
  mask-image: var(--ctaImage, url('images/phone-icon.svg'));
  mask-position: center center;
  mask-repeat: no-repeat;
  background-color: var(--textColor, #282828);
  position:absolute;
  bottom:-50px;
  left:75px;
  opacity:.05;
}

.kenzap .kpcta2 .kp-content .kp-h2,
.kenzap .kpcta2 .kp-content h2{
  color: var(--textColor, #2a2a2a); 
  margin:0 0 50px;
  padding:0 0 80px;
  border-bottom:8px solid var(--textColor, #2a2a2a);;
  font-size: calc(var(--titleSize, 26px) + (70 - 26) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.2;
  font-weight:var(--textThickness, 700); 
}

.kenzap .kpcta2 .kp-content ul{
  display:flex;
  display:-webkit-flex;
  align-items:center;
  -webkit-align-items:center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  position:relative
}

.kenzap .kpcta2 .kp-content ul li{
  font-size:18px;
  line-height:1;
  display:flex;
  display:-webkit-flex;
  align-items:flex-end;
  -webkit-align-items:flex-end;
  justify-content:flex-end;
  -webkit-justify-content:flex-end;
}

.kenzap .kpcta2 .kp-content ul li .phone{
  display:inline-block;
  color:var(--textColor, #2a2a2a);
  font-size:35px;
  line-height:1;
  margin:0 0 -4px 10px;
  font-weight: var(--textThickness, 700); 
}

.kenzap .kpcta2 .kp-content ul li .kp-cta{
  color:var(--textColor, #2a2a2a);
  font-size:18px;
  font-weight: var(--textThickness, 700); 
}

.kenzap .kpcta2 .kp-content ul li .phone:hover{
  cursor: pointer;
}

.kenzap .kpcta2 .kp-content ul li .phone-icon{
  width:26px;
  height:26px;
  mask-size: cover;
  mask-image: var(--ctaImage, url('images/phone-icon.svg'));
  mask-position: center center;
  mask-repeat: no-repeat;
  background-color: var(--textColor, #282828);
  display:block;
  margin:0 15px 0 0
}

.kenzap .kpcta2 .kp-content ul li .cta-btn{
  display:inline-block;
  display:flex;
  display:-webkit-flex;
  align-items:center;
  -webkit-align-items:center;
  justify-content:center;
  border:2px solid var(--backgroundColor, #9376df);
  font-size:18px;
  line-height:18px;
  padding:24px 40px;
	text-align:center;
	// font-weight:var(--textThickness2, 500); 
  // background:var(--textColor, #2a2a2a);
  // color:var(--backgroundColor, transparent);
  border-radius:var(--borderRadius, 5px);
	cursor:pointer;
}

.kenzap .kpcta2 .kp-content ul li .cta-btn:hover{
  background:var(--hbacl, #9376df)!important;
  border-color: var(--hbrcl, #2a2a2a)!important;
  color:var(--hcl, #2a2a2a)!important;
}

.kenzap .kpcta2.kenzap-sm .kp-content .kp-h2,
.kenzap .kpcta2.kenzap-sm .kp-content h2{
  text-align:center;
  padding:0 0 50px;
  font-size: calc(var(--titleSize, 26px) + (59 - 26) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.2;
}

.kenzap .kpcta2.kenzap-sm .kp-content ul,
.kenzap .kpcta2.kenzap-xs .kp-content ul{
  flex-direction:column;
  -webkit-flex-direction:column;
  align-items:center;
  -webkit-align-items:center;
}

.kenzap .kpcta2.kenzap-sm .kp-content ul li:first-child,
.kenzap .kpcta2.kenzap-xs .kp-content ul li:first-child{
  margin: 0 0 30px
}

.kenzap .kpcta2.kenzap-sm .kp-content{
  padding:50px 70px;
}

.kenzap .kpcta2.kenzap-xs .kp-content{
  padding:50px 20px;
}

.kenzap .kpcta2.kenzap-xs .kp-content .kp-h2,
.kenzap .kpcta2.kenzap-xs .kp-content h2{
  text-align:center;
  margin: 0 0 30px;
  padding:0 0 30px;
  font-size: calc(var(--titleSize, 26px) + (39 - 26) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.2;
}

.kenzap .kpcta2.kenzap-sm .kp-content ul li,
.kenzap .kpcta2.kenzap-xs .kp-content ul li{
  flex-direction:column;
  -webkit-flex-direction:column;
  align-items:center;
  -webkit-align-items:center;
  color: var(--textColor, #2a2a2a);
}

.kenzap .kpcta2.kenzap-sm .kp-content ul li .phone,
.kenzap .kpcta2.kenzap-xs .kp-content ul li .phone{
  margin:10px 0 0;
}

.kenzap .kpcta2.kenzap-sm .kp-content ul li .phone-icon,
.kenzap .kpcta2.kenzap-xs .kp-content ul li .phone-icon{
  margin:0 0 10px
}

.kenzap .kpcta2.kenzap-sm .kp-content ul li .cta-btn,
.kenzap .kpcta2.kenzap-xs .kp-content ul li .cta-btn{
  padding:15px 25px;
}

@media screen and (max-width: 61.938em) {
/* width: 991px; */

  .kenzap .kpcta2 .kp-content .kp-h2,
  .kenzap .kpcta2 .kp-content h2{
    text-align:center;
    padding:0 0 30px;
    padding:0 0 50px;
  }

  .kenzap .kpcta2 .kp-content ul{
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction:column;
    -webkit-flex-direction:column;
  }

  .kenzap .kpcta2 .kp-content ul li:first-child{
    margin: 0 0 30px
  }

  .kenzap .kpcta2 .kp-content{
    padding:50px 70px;
  }

}

@media screen and (max-width: 48em) {
/* width 768px */

  .kenzap .kpcta2.kenzap-sm .kp-content,
  .kenzap .kpcta2 .kp-content{
    padding:50px 20px;
  }

  .kenzap .kpcta2.kenzap-sm .kp-content .kp-h2,
  .kenzap .kpcta2.kenzap-sm .kp-content h2,
  .kenzap .kpcta2 .kp-content .kp-h2,
  .kenzap .kpcta2 .kp-content h2{
    margin: 0 0 30px;
    padding:0 0 30px
  }

  .kenzap .kpcta2 .kp-content ul li{
    flex-direction:column;
    -webkit-flex-direction:column;
    align-items:center;
    -webkit-align-items:center;
  }

  .kenzap .kpcta2 .kp-content ul li .phone{
    margin:10px 0 0;
  }

  .kenzap .kpcta2 .kp-content ul li .phone-icon{
    margin:0 0 10px
  }

  .kenzap .kpcta2 .kp-content ul li .cta-btn{
    padding:15px 25px;
  }
}