.kenzap .kenzap-timeline-3 *:before,
.kenzap .kenzap-timeline-3 *:after,
.kenzap .kenzap-timeline-3 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kenzap .kenzap-timeline-3 .kenzap-container {
  max-width: 1780px;
  padding: 0 var(--paddings2,0);
  margin: 0 auto;
  overflow-x: hidden;
}

.kenzap .kenzap-timeline-3.autoPadding {
  padding: calc(30px + (var(--paddings) - 30) * ((100vw - 300px) / (1600 - 300))) 0;
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  min-height: 500px;
  position: relative
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content:before {
  content: "";
  display: block;
  height: 3px;
  background: var(--boxBackground);
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  margin: auto
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content:after {
  content: "";
  display: block;
  height: 3px;
  background: var(--boxBackground);
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: auto
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content.past-time:before,
.kenzap .kenzap-timeline-3 .timeline .timeline-content.past-time:after {
  background: var(--timeLineColor)
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content.past-time-last:after{
  background: var(--boxBackground);
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content.current-time:before {
  background: var(--timeLineColor)
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content.current-time:after {
  background: #505050
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(odd) .timeline-content .time-wrapper {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex-basis: 0;
  -webkit-flex-basis: 0;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  position: relative;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper {
  order: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex-basis: 0;
  -webkit-flex-basis: 0;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  position: relative;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(odd) .timeline-content .info-wrapper {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-basis: 0;
  -webkit-flex-basis: 0;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  position: relative;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .time-wrapper {
  order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-basis: 0;
  -webkit-flex-basis: 0;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  position: relative;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(odd) .timeline-content .info-wrapper:before {
  content: "";
  display: block;
  width: 3px;
  background: var(--boxBackground);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:before {
  content: "";
  display: block;
  width: 3px;
  background: var(--boxBackground);
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(odd) .timeline-content .info-wrapper:after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  border: 7px solid var(--timeLineColor);
  border-radius: 100%;
  background: var(--boxBackground);
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: -11px;
  margin: auto;
  z-index: 9
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  border: 7px solid var(--timeLineColor);
  border-radius: 100%;
  background: var(--boxBackground);
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -11px;
  margin: auto;
  z-index: 9
}

.kenzap .kenzap-timeline-3 .timeline .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  margin: auto;
  z-index: 999;
  outline: none;
  box-shadow: none;
  width: 27px;
  height: 27px;
}

.kenzap .kenzap-timeline-3 .timeline .owl-nav button.owl-next {
  position: absolute;
  top: 0;
  right: -6px;
  bottom: 0;
  margin: auto;
  z-index: 999;
  outline: none;
  box-shadow: none;
  width: 27px;
  height: 27px;
}

.kenzap .kenzap-timeline-3 .timeline .owl-nav button.owl-prev span {
  border: solid var(--timeLineColor);
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(135deg);
  width: 19px;
  height: 19px;
  display: block;
  color: var(--timeLineColor);
  font-size: 0;
}

.kenzap .kenzap-timeline-3 .timeline .owl-nav button.owl-next span {
  border: solid var(--timeLineColor);
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-45deg);
  width: 19px;
  height: 19px;
  display: block;
  color: var(--timeLineColor);
  font-size: 0;
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content .time {
  text-align: center;
  width: 100%;
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content .info {
  padding: 25px 35px;
  border-radius: 10px;
  background-color: var(--boxBackground);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  position: relative;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .time {
  margin: 30px 0 0;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(odd) .timeline-content .time {
  margin: 0 0 30px;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .info {
  margin: 0 5px 50px;
}

.kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(odd) .timeline-content .info {
  margin: 50px 5px 0;
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content .time p,
.kenzap .kenzap-timeline-3 .timeline .timeline-content .time p a,
.kenzap .kenzap-timeline-3 .timeline .timeline-content .time p strong {
  margin: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content .time p strong{
  font-weight: 600;
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content .info h3 {
  margin: 0 0 15px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.kenzap .kenzap-timeline-3 .timeline .timeline-content .info p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  font-weight: 400;
}

.kenzap .kenzap-timeline-3.kenzap-xs .timeline .timeline-content {
  min-height: auto;
  display: block;
}

.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-item:nth-child(even) .timeline-content .time {
  margin: 0 0 30px
}

.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-item:nth-child(odd) .timeline-content .info,
.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-item:nth-child(even) .timeline-content .info {
  margin: 25px 5px 0;
}

.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:before {
  bottom: 50%;
  left: 0;
  right: 0;
  top: 0;
}

.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:after {
  left: 0;
  right: 0;
  top: -7px;
  bottom: auto;
}

.kenzap .kenzap-timeline-3.kenzap-xs .timeline .timeline-content::before,
.kenzap .kenzap-timeline-3.kenzap-xs .timeline .timeline-content::after {
  top: 54px;
  bottom: auto;
}

.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-nav button.owl-next,
.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-nav button.owl-prev {
  top: 42px;
  bottom: auto;
}

.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:after,
.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-item:nth-child(odd) .timeline-content .info-wrapper:after,
.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:before,
.kenzap .kenzap-timeline-3.kenzap-xs .timeline .owl-item:nth-child(odd) .timeline-content .info-wrapper:before{
  display: none;
}

@media screen and (max-width: 61.938em) {
  /* width: 991px; */

  .kenzap .kenzap-timeline-3 .timeline .timeline-content {
    min-height: 600px
  }

}

@media screen and (max-width: 38em) {
  /* width 480px */

  .kenzap .kenzap-timeline-3 .timeline .timeline-content {
    min-height: auto;
    display: block
  }

  .kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .time {
    margin: 0 0 30px
  }

  .kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .info {
    margin: 50px 5px 0;
  }

  .kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:before {
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
  }

  .kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:after {
    left: 0;
    right: 0;
    top: -7px;
    bottom: auto
  }

  .kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(odd) .timeline-content .info {
    margin: 25px 5px 0;
  }

  .kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:after,
  .kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(odd) .timeline-content .info-wrapper:after,
  .kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(even) .timeline-content .info-wrapper:before,
  .kenzap .kenzap-timeline-3 .timeline .owl-item:nth-child(odd) .timeline-content .info-wrapper:before{
    display: none;
  }

  .kenzap .kenzap-timeline-3 .timeline .timeline-content::before,
  .kenzap .kenzap-timeline-3 .timeline .timeline-content::after {
    top: 54px;
    bottom: auto;
  }

  .kenzap .kenzap-timeline-3 .timeline .owl-nav button.owl-next,
  .kenzap .kenzap-timeline-3 .timeline .owl-nav button.owl-prev {
    top: 42px;
    bottom: auto;
  }

}
