.kenzap .kp-featured-1 .kp-box .kp-wrapper p{
  display: block;
}

.kenzap .kp-featured-1 .kp-wrapper:hover {
  position: relative!important;
  z-index: 1!important;
}

.kenzap .kp-featured-1 .remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
  background: white;
  border-radius: 50%;
  color: black;
  z-index: 99;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;

  &:hover {
    color: red;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kp-featured-1 .featured-box:hover .remove{
  opacity: 1;
}

.kenzap .kp-featured-1 .kenzap-add {
	position: absolute;
	display: none;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	border-radius: 5px;
	padding: 5px;
	border: 0;
	background: white;
	box-shadow: inset 0 0 50px white;
	color: rgba(10,24,41,.7);
	cursor: pointer;
	text-align: center;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  transition: all .2s;
  

  span {
	  display: block;
	  margin-bottom: 5px;
  }

  &:hover {
    color: #191e23;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kp-featured-1 .editPadding {
	transition: all .2s;
}

.kenzap .is-selected .kp-featured-1{
  
	& .kenzap-add {
    display: flex;
	}
  
	.editPadding {
	  padding: 0 0 100px;
	 }
}