.kenzap .kpinf9:before,
.kenzap .kpinf9:after,
.kenzap .kpinf9 *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kenzap .kpinf9 h2,
.kenzap .kpinf9 img,
.kenzap .kpinf9 ul,
.kenzap .kpinf9 li,
.kenzap .kpinf9 p,
.kenzap .kpinf9 a{
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  text-decoration: none;
  list-style:none
}

.kenzap .kpinf9 .clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.kenzap .kpinf9.autoPadding {
  padding: calc(30px + (var(--paddings) - 30) * ((100vw - 300px) / (1600 - 300))) 0;
}

.kenzap .kpinf9 .kenzap-container{
  max-width:1270px;
  padding:0 var(--paddings2,0);
  margin:0 auto;
  overflow-x: hidden;
}

.kenzap .kpinf9 .kenzap-container:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.kenzap .kpinf9 .kenzap-row{
  margin:0 -15px;
}

.kenzap .kpinf9 .kenzap-col-6{
  width:50%;
  float:left;
  padding:0 15px;
}

.kenzap .kpinf9 .info-box{
  display:flex;
  display:-webkit-flex;
  align-items:center;
  -webkit-align-items:center;
  margin:0 0 30px
}

.kenzap .kpinf9 .info-box .kp-img{
  opacity: 0.1;
}

.kenzap .kpinf9 .info-box .kp-img .ba-slider .handle::after {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  margin: -20px 0 0 -20px;
  content: '\2039  \203A';
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  background: #007cba;
  background: var(--textColor2,#007cba);
  border: none;
  border-radius: 50%;
  transition: all .3s ease;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  z-index:2
}

.kenzap .kpinf9 .info-box .kp-img  .ba-slider .handle{
  width:1px;
  background:rgba(255,255,255,.5)
}

.kenzap .kpinf9 .info-box .kp-img .ba-slider .resize{
  z-index:2
}

.kenzap .kpinf9 .info-box .kp-img  .ba-slider .after-txt{
  position:absolute;
  bottom:20px;
  left:20px;
  color:#fff;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  hyphens: none;
}

.kenzap .kpinf9 .info-box .kp-img  .ba-slider .before-txt{
  position:absolute;
  bottom:20px;
  right:20px;
  color:#fff;
  z-index:1;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
}

.kenzap .kpinf9.kp-left .info-box .kp-content{
  padding:0 0 0 50px;
}

.kenzap .kpinf9.kp-right .info-box .kp-content{
  padding:0 50px 0 0;
}

.kenzap .kpinf9 .info-box .kp-content .kp-h2{
  // font-size: 34px;
  // font-size: var(--titleSize,34px);
  // line-height: 1.2;
  // color: #333;
  // color: var(--textColor,#333);
  // font-weight: 700;
  // font-weight: var(--textThickness,700);
  margin:0 0 20px;
}

.kenzap .kpinf9 .info-box .kp-content .kp-p{
  // line-height: 1.75;
  // font-weight: 400;
  // color: #333;
  // color: var(--textColor,#333);
  // font-size: 16px;
  // font-size: var(--descriptionSize,16px);
  margin:0 0 20px;
  font-style:normal
}

.kenzap .kpinf9 .info-box .kp-content a{
  // line-height: 1.75;
  // font-weight: 400;
  // color: #333;
  // color: var(--textColor,#333);
  // font-size: 16px;
  // font-size: var(--descriptionSize,16px);
  margin:0 0 20px;
  font-style:normal;
  padding:0 0 0 28px;
  position:relative;
  transition:all .3s
}

.kenzap .kpinf9 .info-box .kp-content a:hover{
  color:var(--textColor2,#007cba);
  color:#007cba;
}

.kenzap .kpinf9 .info-box .kp-content a:before{
  content:"";
  display:block;
  height:1px;
  width:20px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  background:#007cba;
  background:var(--textColor2,#007cba);
  margin:auto
}

.kenzap .kpinf9.kp-left.kenzap-sm .info-box .kp-content,
.kenzap .kpinf9.kp-right.kenzap-sm .info-box .kp-content,
.kenzap .kpinf9.kp-left.kenzap-xs .info-box .kp-content,
.kenzap .kpinf9.kp-right.kenzap-xs .info-box .kp-content,
.kenzap .kpinf9.kp-left.kenzap-md .info-box .kp-content,
.kenzap .kpinf9.kp-right.kenzap-md .info-box .kp-content{
  padding: 0;
}

.kenzap .kpinf9.kenzap-xs .info-box .kp-content .kp-h2,
.kenzap .kpinf9.kenzap-sm .info-box .kp-content .kp-h2,
.kenzap .kpinf9.kenzap-md .info-box .kp-content .kp-h2{
  margin:15px 0 10px
}

.kenzap .kpinf9.kenzap-sm .kenzap-col-6,
.kenzap .kpinf9.kenzap-xs .kenzap-col-6{
  width:100%;
}

.kenzap .kpinf9.kenzap-sm .info-box,
.kenzap .kpinf9.kenzap-xs .info-box{
  flex-direction:column;
  -webkit-flex-direction:column;
}

.kenzap .kpinf9.kp-left.kenzap-sm .info-box .kp-img,
.kenzap .kpinf9.kp-left.kenzap-xs .info-box .kp-img{
  margin: 0 0 0px
}

.kenzap .kpinf9.kp-right.kenzap-sm .info-box .kp-img,
.kenzap .kpinf9.kp-right.kenzap-xs .info-box .kp-img{
  margin: 30px 0 0
}

.kenzap .kpinf9.kenzap-sm .info-box .kp-content .kp-h2,
.kenzap .kpinf9.kenzap-xs .info-box .kp-content .kp-h2{
  font-size: 34px;
  font-size: var(--titleSizeRes,34px);
}

@media screen and (max-width: 61.938em) {
  /* width: 991px; */

  .kenzap .kpinf9.kp-left .info-box .kp-content,
  .kenzap .kpinf9.kp-right .info-box .kp-content{
    padding: 0;
  }

  .kenzap .kpinf9 .info-box .kp-content .kp-h2{
    margin:15px 0 10px;
    font-size: var(--titleSizeRes,34px);
  }

  .kenzap .kpinf9 .kenzap-col-6{
    width:100%;
  }

  .kenzap .kpinf9 .info-box{
    flex-direction:column;
    -webkit-flex-direction:column;
  }

  .kenzap .kpinf9.kp-left .info-box .kp-img{
    margin: 0 0 0px;
  }

  .kenzap .kpinf9.kp-right .info-box .kp-img{
    margin: 30px 0 0;
  }
  
}


@media screen and (max-width: 48em) {
  /* width 768px */

  .kenzap .kpinf9 .kenzap-col-6{
    width:100%;
  }

  .kenzap .kpinf9 .info-box{
    flex-direction:column;
    -webkit-flex-direction:column;
  }

  .kenzap .kpinf9.kp-left .info-box .kp-img{
    margin: 0 0 0px;
  }

  .kenzap .kpinf9.kp-right .info-box .kp-img{
    margin: 30px 0 0;
  }
}

@media screen and (max-width: 30em) {

  .kenzap .kpinf9 .info-box .kp-content .kp-h2{
    font-size: var(--titleSizeRes,34px);
  }
}
