.kenzap .kenzap-gallery-4.autoPadding {
  padding: calc(30px + (var(--paddings) - 30) * ((100vw - 300px) / (1600 - 300))) 0;
}

.kenzap .kenzap-gallery-4 :before,
.kenzap .kenzap-gallery-4 :after,
.kenzap .kenzap-gallery-4 *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kenzap .kenzap-gallery-4 img,
.kenzap .kenzap-gallery-4 ul,
.kenzap .kenzap-gallery-4 li,
.kenzap .kenzap-gallery-4 p,
.kenzap .kenzap-gallery-4 a{
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  text-decoration: none;
  list-style:none
}

.kenzap .kenzap-gallery-4 .kenzap-container{
  max-width:1270px;
  padding:0 var(--paddings2,0);
  margin:0 auto;
}

.kenzap .kenzap-gallery-4 .kp-list:after {
  content: '';
  display: block;
  clear: both;
}

.kenzap .kenzap-gallery-4 .kp-list .gallery-box{
  position:relative;
  overflow:hidden;
  margin:0 0 var(--paddingsBetweenItems);
}

.kenzap .kenzap-gallery-4 .kp-list .gallery-box .kp-info{
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 0 5% 5% 5%;
  z-index:3;
  width: 100%;
}

.kenzap .kenzap-gallery-4 .kp-list .kp-info h3{
  display:inline-block;
  margin:0;
  transition: all .2s ease-in-out;
  text-overflow: ellipsis;
}

.kenzap .kenzap-gallery-4 .kp-list .kp-info h3 a{
  color:var(--titleColor)
}

.kenzap .kenzap-gallery-4 .kp-list .kp-img{
  position:relative
}

.kenzap .kenzap-gallery-4.kp-overlay-in .kp-list .kp-img a:after{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.2);
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.kenzap .kenzap-gallery-4.kp-overlay-in .kp-list .gallery-box:hover .kp-img a:after{
  background:var(--overlayColor);
}

.kenzap .kenzap-gallery-4 .kp-list .kp-img a:before{
  display: block;
  content: "";
  padding-top: calc((3 / 10) * 100%);
}

.kenzap .kenzap-gallery-4 .kp-list .kp-img > a{
  background-size:cover;
  background-position:center center;
  display:block
}

.kenzap .kenzap-gallery-4 .kp-list .kp-img{
  width:100%;
  overflow:hidden;
  margin:0;
}

.kenzap .kenzap-gallery-4.kp-zoom-in .kp-list .kp-img a{
  will-change: transform;
  -webkit-filter: blur();
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}

.kenzap .kenzap-gallery-4.kp-zoom-in .kp-list .gallery-box:hover .kp-img a{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 3s cubic-bezier(.165,.84,.44,1);
  -moz-transition: -moz-transform 3s cubic-bezier(.165,.84,.44,1);
  transition: transform 3s cubic-bezier(.165,.84,.44,1);
}

.kenzap .kenzap-gallery-4.kp-zoom-out .kp-list .kp-img a{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  will-change: transform;
  -webkit-filter: blur();
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}

.kenzap .kenzap-gallery-4.kp-zoom-out .kp-list .gallery-box:hover .kp-img a{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 3s cubic-bezier(.165,.84,.44,1);
  -moz-transition: -moz-transform 3s cubic-bezier(.165,.84,.44,1);
  transition: transform 3s cubic-bezier(.165,.84,.44,1);
}

.kenzap .kenzap-gallery-4.kp-frame-in .kp-list .kp-img a{
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  -webkit-transition: 1s cubic-bezier(.075,.82,.165,1);
  -moz-transition: 1s cubic-bezier(.075,.82,.165,1);
  transition: 1s cubic-bezier(.075,.82,.165,1);
}

.kenzap .kenzap-gallery-4.kp-frame-in .kp-list .gallery-box:hover .kp-img a{
  -webkit-clip-path: inset(20px 20px 20px 20px);
  clip-path: inset(20px 20px 20px 20px);
}

.kenzap .kenzap-gallery-4.kp-frame-out .kp-list .kp-img a{
  -webkit-clip-path: inset(20px 20px 20px 20px);
  clip-path: inset(20px 20px 20px 20px);
  -webkit-transition: 1s cubic-bezier(.075,.82,.165,1);
  -moz-transition: 1s cubic-bezier(.075,.82,.165,1);
  transition: 1s cubic-bezier(.075,.82,.165,1);
}

.kenzap .kenzap-gallery-4.kp-frame-out .kp-list .gallery-box:hover .kp-img a{
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.kenzap .kenzap-gallery-4.kenzap-sm .kp-list .kp-img a:before{
  display: block;
  content: "";
  padding-top: calc((4 / 10) * 100%);
}

.kenzap .kenzap-gallery-4.kenzap-xs .kp-list .kp-img a:before{
  display: block;
  content: "";
  padding-top: calc((5 / 10) * 100%);
}

@media screen and (max-width: 61.938em) {
  /* width: 991px; */

  .kenzap .kenzap-gallery-4 .kp-list .kp-img a:before{
    display: block;
    content: "";
    padding-top: calc((4 / 10) * 100%);
  }

  .kenzap .kenzap-gallery-4 .kp-list .kp-info h3 a{
    font-size: var(--fst, 30px)!important;
  }
}

@media screen and (max-width: 48em) {
  /* width 768px */

  .kenzap .kenzap-gallery-4 .kp-list .kp-img a:before{
    display: block;
    content: "";
    padding-top: calc((5 / 10) * 100%);
  }

  .kenzap .kenzap-gallery-4 .kp-list .gallery-box{
    margin:0 0 var(--paddingsBetweenItemsR);
  }
}

@media screen and (max-width: 30em) {

  .kenzap .kenzap-gallery-4 .kp-list .kp-info h3 a{
    font-size: var(--fsm, 30px)!important;
  }
}