.kenzap .contact-form :before,
.kenzap .contact-form :after,
.kenzap .contact-form *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kenzap .contact-form ul,
.kenzap .contact-form li,
.kenzap .contact-form p,
.kenzap .contact-form a{
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  text-decoration: none;
  list-style:none
}

.kenzap .contact-form.autoPadding {
  padding: calc(30px + (var(--paddings) - 30) * ((100vw - 300px) / (1600 - 300))) 0;
}

.kenzap .contact-form{
	overflow-x: hidden;
}

.kenzap .contact-form .kenzap-container{
  max-width:1270px;
  width:100%;
  padding:0 var(--paddings2,0);
  margin:0 auto;
  overflow-x: hidden;
}

.kenzap .contact-form .nf-form-content {
	margin:0 auto 70px;
	//background:#fff;
	position:relative;
}

.kenzap .contact-form .nf-form-content  h3{
	font-size:22px;
	line-height:22px;
	color:#303030;
	margin:0 0 60px;
}

.kenzap .contact-form .nf-form-content  .form-group{
	margin:0;
}

.kenzap .contact-form .nf-form-content  label{
	font-size:14px;
	color:#bababa;
	font-weight:300;
	margin:0 0 20px;
	font-weight:normal;
}

.kenzap .contact-form .nf-form-fields-required,
.kenzap .contact-form .nf-form-content .nf-help{
  display: none;
}

.kenzap .contact-form .nf-form-content  select,
.kenzap .contact-form .nf-form-content  textarea,
.kenzap .contact-form .nf-form-content  input[type="text"],
.kenzap .contact-form .nf-form-content  input[type="email"],
.kenzap .contact-form .nf-form-content  input[type="password"]{
	font-size:16px;
	height:auto;
	color:#303030;
	font-weight:300;
	font-weight:normal;
	border-top:none;
	border-left:none;
	border-right:none;
    border-bottom:1px solid #bababa;
    background: #fff;
	border-radius:0;
	box-shadow:none;
	margin:0 0 50px;
	padding:0 0 20px;
	outline:0;
}

.kenzap .contact-form .nf-form-content textarea{
	max-height: 68px;
}

.kenzap .contact-form .nf-form-content input[type="button"]{
	display:inline-block;
  margin: 0 10px 10px 0;
  z-index: 10;
  white-space: nowrap;
  font-size: 13px;
	line-height: 24px;
	border-style:solid;
  outline: currentcolor none medium;
  box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
	box-sizing: border-box;
  cursor: pointer;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: center;
  padding: 12px 40px;
  letter-spacing: 0px;
  opacity: 1;
  transform-origin: 50% 50% 0px;
  transform: translate3d(0px, 0px, 0px);
  transition:all .3s
}

.kenzap .contact-form .nf-form-content  form > .row:nth-child(1) > div:first-child,
.kenzap .contact-form .nf-form-content  form > .row:nth-child(2) > div:first-child{
	padding:0 45px 0 15px
}

.kenzap .contact-form .nf-form-content  form > .row:nth-child(1) > div:last-child,
.kenzap .contact-form .nf-form-content  form > .row:nth-child(2) > div:last-child{
	padding:0 15px 0 45px
}

.kenzap .contact-information .nf-form-content {
	padding:60px 80px;
	background-repeat: no-repeat;
	background-position: 92% center; 
	background-color:#0f4ea3;
	margin:0 0 70px;
}

.kenzap .contact-information .nf-form-content  h3{
	font-size:22px;
	line-height:22px;
	color:#fff;
	margin:0 0 24px;
}

.kenzap .contact-information .nf-form-content  ul{
	margin:0;
	list-style: none;
}

.kenzap .contact-information .nf-form-content  ul li{
	color:#a6b5d4;
	font-size:16px;
	line-height:22px;
	margin:0 0 20px;
	font-weight:300;
	padding:0 0 0 40px;
	position:relative
}

.kenzap .contact-information .nf-form-content  ul li a{
	color:#a6b5d4;
	text-decoration:none;
  font-weight:300;
}

.kenzap .contact-information .nf-form-content  ul li i{
	font-size: 22px;
  text-align: center;
  width: 20px;
	position:absolute;
	top:0;
	left:0;
}

.kenzap .contact-form label{
	font-weight:var(--t0fontweight,400)!important;
  font-size:var(--t0fontsize,13px)!important;
  text-transform:var(--t0texttransform)!important;
  line-height:var(--t0lineheight,1.8)!important;
  color:var(--t0color,#333333)!important;
  padding-top:var(--t0paddingtop, 25px)!important;
  padding-right:var(--t0paddingright, 10px)!important;
  padding-bottom:var(--t0paddingbottom, 25px)!important;
  padding-left:var(--t0paddingleft, 10px)!important;
  letter-spacing:var(--t0letterspacing,0.12em)!important;
}

.kenzap .contact-form .nf-after-form-content .nf-error-msg,
.kenzap .contact-form .submit-container .nf-field-element{
	text-align:var(--t1textalign,left);
}

.kenzap .contact-form .nf-form-content input[type="button"]{
	border-width:var(--t1borderwidth,2px)!important;
	border-radius:var(--t1borderradius,50px)!important;
	font-weight:var(--t1fontweight,400)!important;
  font-size:var(--t1fontsize,13px)!important;
  text-transform:var(--t1texttransform)!important;
  line-height:var(--t1lineheight,1.8)!important;
	color:var(--t1color,#333333)!important;
	background-color:var(--t1backgroundcolor,#333333)!important;
	border-color:var(--t1bordercolor,#333333)!important;
  padding-top:var(--t1paddingtop, 12px)!important;
  padding-right:var(--t1paddingright, 40px)!important;
  padding-bottom:var(--t1paddingbottom, 12px)!important;
	padding-left:var(--t1paddingleft, 40px)!important;
	margin-top:var(--t1margintop, 0px)!important;
  margin-right:var(--t1pmarginright, 0px)!important;
  margin-bottom:var(--t1marginbottom, 10px)!important;
  margin-left:var(--t1marginleft, 0px)!important;
  letter-spacing:var(--t1letterspacing,0.12em)!important;
}

.kenzap .contact-form .nf-form-content input[type="button"]:hover{
	color:var(--t1hcl)!important;
	border-color:var(--t1hbrcl)!important;
	background-color:var(--t1hbacl)!important;
}

@media screen and (min-width: 61.938em) {

	.kenzap .contact-form.boxed .nf-form-content{
		-webkit-box-shadow: 0px 20px 27px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 20px 27px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 20px 27px 0px rgba(0,0,0,0.2);
		padding:70px 130px;
	}
}